.home-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ipl-logo {
  height: 100px;
  width: 100px;
}
.ipl-title {
  color: white;
  font-family: Bree Serif;
  font-size: 50px;
  padding: 20px;
}

.logo-title-alinement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.teams-list {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 767px) {
  .home-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ipl-logo {
    height: 100px;
    width: 100px;
  }

  .teams-list {
    border-color: white;
    border-width: 1px;
    border-style: solid;
    width: 760px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
